<%= if(not @content.is_published) do %>
<p class="alert alert-danger" role="alert">
    This post is still a draft, its contents may change at any time
</p>
<% end %>

<h1><%= @content.title %></h1>
<%= raw(@content.content) %>

<h2>Categories</h2>
<ul>
<%= for category <- @content.taxonomies do %>
    <li><%= live_redirect category.title, to: category.slug %></li>
<% end %>
</ul>
