<h1><%= @content.title %></h1>

<section class="row">
  <ul>
  <%= for post <- @content.children do %>
    <li>
      <%= live_redirect post.title, to: post.slug %> (<%= Date.to_iso8601(post.date) %>) <%= raw post.summary %>
    </li>
  <% end %>
  </ul>
</section>
